
*{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
    background-color:dimgrey;
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

form#frmLogin {
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
}

h3.title {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: x-large;  
    text-align: center;
}

div.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: maroon;
    font-weight: bolder;
}

.form-control {
    display: block;
    width: 100%;
    padding: 3px;
}
.button{
    background-color: chocolate;
    color: aliceblue;
    font-weight: bolder;
    padding: 10px;
    border-radius: 2px;
}